{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Convento da Penha - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body>

  <!-- HEADER -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-center">

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="conventodapenha/">Conheça um pouco mais</a></li>
        </ul>
      </nav>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>

  <!-- SEÇÃO PRINCIPAL -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-center">A história do maior ícone de fé do <span>Espírito Santo</span></h2>
          <p>
            Construído a partir de 1558 no alto de um penhasco, o Convento fica pertinho do ponto exato onde 
            desembarcaram os primeiros portugueses que chegaram ao Espírito Santo, e, também por isso, qualquer 
            viagem fica incompleta sem uma visita a ele.

            Além disso, a vista é maravilhosa: dá para ver a Terceira Ponte – uma das mais altas do Brasil -, 
            a entrada da Baía de Vitória, as muitas ilhas e ilhotas da costa capixaba, as praias e as montanhas 
            ao fundo. Além disso, você pode participar das várias missas celebradas durante todo o dia.
          </p>
          <div class="text-center">
            <a href="../conventodapenha" class="btn-get-started">Conheça um pouco mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- GALERIA -->
    <section id="gallery" class="gallery">
      <div class="container-fluid p-5">

        <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="{% static 'assets/img/gallery/convento-1.jpg' %}" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="{% static 'assets/img/gallery/convento-1.jpg' %}" title="Convento da Penha" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="{% static 'assets/img/gallery/convento-2.jpg' %}" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="{% static 'assets/img/gallery/convento-2.jpg' %}" title="Convento da Penha" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="{% static 'assets/img/gallery/convento-3.jpg' %}" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="{% static 'assets/img/gallery/convento-3.jpg' %}" title="Convento da Penha" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="{% static 'assets/img/gallery/convento-4.jpg' %}" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="{% static 'assets/img/gallery/convento-4.jpg' %}" title="Convento da Penha" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>